@model UserViewModel
@{
	Layout = "_Layout";
}
<h1>회원가입</h1>

@section scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}

<form asp-action="Register" method="post">
	<div asp-validation-summary="ModelOnly"></div>
	<div class="mb-3">
		<label asp-for="UserId"></label>		
		<input asp-for="UserId" placeholder="아이디" class="form-control"/>
		<span asp-validation-for="UserId" class="text-danger"></span>
	</div>

	<div class="mb-3">
		<label asp-for="Password"></label>	
		<input type="password" asp-for="Password" placeholder="암호" class="form-control" />
		<span asp-validation-for="Password" class="text-danger"></span>
	</div>

	<input type="submit" value="회원가입" class="btn btn-primary"/>
	<a asp-action="Index" class="btn btn-secondary">취소</a>
</form>
